/* General styles */
html {
  background-color: #F3F3F6;
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 800px;
}
body {
  /*background: #C2D4DB;*/
}

.hidden {
  display: none;
}
.column-1 {
  width: 100%;
}
.column-2 {
  width: 50%;
  float: left;
}
.column-3 {
  width: 33%;
  float: left;
}
.column-4 {
  width: 25%;
  float: left;
}

@media (max-width: 800px) {
  .column-1 {
    width: 100%;
  }
  .column-2 {
    width: 100%;
  }
  .column-3 {
    width: 100%;
  }
  .column-4 {
    width: 100%;
  }
}

.icon {
  color: #4A61A2;
  font-size: 1.6em;
  margin-top: 20px;
  margin-bottom: 0;
}

.icon-brand {
  height: 40px;
  width: auto;
  position: relative;
  margin-left: auto;
  margin-top: 1em;
  margin-right: auto;
  right: 0;
  bottom: 0;
  left: 0;

}

.pan-7456 {
  color: #4A61A2;
}

.section-text {
  color: #4A61A2;
  font-size: 1em;
}

.section-title {
  color: #374F59;
  font-size: 1.2em;
  font-weight: 300;
  border-bottom: 1px dotted #A4BEC9;
  margin: 0;
  padding-bottom: 8px;
}

.quote-text {
  color: #808080;
  font-size: .8em;
  padding: .3em;
}

.site-by {
  color: #FFF;
  text-decoration: none;
  font-size: .8em;
  opacity: .85;
  text-align: center;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /*padding: 6px;*/
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;

}
a.site-by:hover, a.site-by:active, a.site-by:visited {
  color: #FFF;
  text-decoration: none;
  opacity: 1;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}
a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: #4A61A2;
}

#logo, #menu, #footer {
  text-align: center;
}
#logo {
  top: 0;
  margin: 0;
  padding: 0;
  height: 115px;
  background-color: #6894A5;
}
#logo h1 {
  font-family: 'Tangerine', cursive;
  color: #F3F3F6;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 3.5em;
  margin: 0;
  padding: 30px;
}
#logo h1 a {
  color: #F3F3F6;
  text-decoration: none;
}
#menu {
  font-family: 'Raleway', sans-serif;
  background-color: #A4BEC9;
  top: 40px;
  color: #374F59;
}
#menu nav ul {
  margin: 0;
  padding: 0;
  clear: both;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: .75em;
    background-color: #A4BEC9;
    text-decoration: none;
    width: 65px;
}
nav ul li:hover {
    background-color: #D1DEE4;
    text-decoration: none;
    cursor: pointer;
}

#background {
  /*background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: auto;*/
}

#container {
  position: relative;
  margin: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-height: 60%;
  overflow: auto;
  background-color: #F3F3F6;
  border-radius: 10px;
  z-index: 1;
  text-align: center;
  padding: 30px;
}
